
/* best to set border-box in universal selector so all elements are calculated with width, height, padding, and border */
*{
    box-sizing: border-box;
}

.image-container{
  width:auto;
  height:auto;
  border: 1px solid #383839;
  background-image: url(../mihkomedia/images/Askiy\ Okisikow\ Backdrops.png);
  background-repeat: no-repeat;
  /* The contain value will make sure the entire photo fits within the box */
  /* background-size: contain; */
  /* ---------------------------- */
  /* The cover value will make sure the photo covers the width of the box */
  /* background-size: cover; */
  background-size:100%;
  /* background-position: center; */
  background-position: 100% 100%;
}

body {
    background-color:whitesmoke;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    margin:auto;
 
}

nav{
    
    font-family:monospace;
    background-color:black;
    line-height: 45px;
    list-style-type:none;
    padding:25px 25px;
    font-weight:lighter;
  
}

nav a{
    
    color:whitesmoke;
    font-size:large;
    text-decoration:none;
    padding:5px 5px;
  

}

/* Style a button when the user hovers over it */

nav a:hover {

    background-color:#A6101F;
    cursor:hand;

}
   
h1 {
    color:teal;
    font-family: "Source Serif 4", serif;
    font-size:75px;
    font-style:normal;
    
    
    
}

h2{ 
    color:black;
    font-family:"Source Serif 4",serif;
    font-size:55px;
    padding-bottom:1px;
    border-bottom:5px solid #383839;
    
}

h3{
    color:darkgrey;
    font-family: "Source Serif 4", serif;
    font-size:35px;
    padding-top:10px;
   
}
p{
    color:black;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
    font-weight:bolder;
    font-size:large;
    margin:50px 75px;
    

}

.email{
    font-family:monospace;
    color:whitesmoke;
}

strong{
    font-family:monospace;
    color: #A6101F;
}

footer{

    font-family:monospace;
    font-size:medium;
    font-weight:lighter;
    color:whitesmoke;
    background-color: black;
    padding-bottom:15px;
}

footer a{
    font-family: monospace;
    color:whitesmoke;
    text-decoration:none;

}

em{
    font-family:monospace;
    color:teal;

}

.copyright{
    color:whitesmoke;
    font-family: monospace;
    font-weight:lighter;
}

#header_title{
    color:teal;
    background-color: whitesmoke;
    padding:10px 50px;
}

.about{
    width:50%;
    margin:0 auto;
}
.sold{
    font-family:monospace;
    font-size:25px;
    color:darkturquoise;
    border-radius:200%;
    border-style:double;
    width:50%;
    margin:0 auto;
}
